* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: "Raleway", sans-serif; */
    color: #454546;
    font-size: 2.9rem;
  }
  
  @media screen and (min-width: 981px) {
    body {
      font-size: 1.9rem;
    }
  }
  
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }
  
  .wrapper-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #worddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
    margin-top: 40px;
    font-size: 2.5rem;
  }
  @media screen and (min-width: 981px) {
    #worddiv {
      font-size: 1.5rem;
    }
  }
  
  #word {
    font-weight: 100;
  }
  
  #descdiv {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    max-width: 60%;
    font-size: 2.5rem;
  
    /* font-size: 70px; */
  }
  
  @media screen and (min-width: 981px) {
    #descdiv {
      font-size: 1.2rem;
      /* font-size: 70px; */
    }
  }
  
  #genbtn {
    /* color: linear-gradient(90deg,#ff8a00,#e52e71); */
    color: #7a00ff;
    text-decoration: none;
    /* font-size: 5.5rem; */
    letter-spacing: .2rem;
    transition: all 0.9s ease;
  }
  
  #genbtn:hover {
    color: #d800ff;
    letter-spacing: .1rem;
  }
 
 
