@font-face {
  font-family: RemboyRegular;
  src: url(RemboyRegular.tff);
}

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Major Mono Display', monospace;

  }
  
  body {
    
    /* font-family: "Raleway", sans-serif; */
    /* color: #rgb(13, 16, 68) */
    font-size: 2rem;
    /* background-color: #e5e5f7; */

    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.02px), radial-gradient(#444cf7 0.3px, #e5e5f7 0.3px);
    background-size: 40px 40px;
    background-position: 0 0, 80px 80px;
  }
  
  @media screen and (min-width: 981px) {
    body {
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 2.7rem;
    font-family: RemboyRegular;
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;

    letter-spacing: .8vw;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 981px) {
    h1 {
      font-size: 4rem;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 60vh; */
    /* padding: 2rem; */
   
  }

  
  #worddiv {
    /* top: 22%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
    margin-top: 40px; */
    /* font-size: 2.5rem; */
  }
  @media screen and (min-width: 981px) {
    #worddiv {
      font-size: 1.5rem;
    }
  }
  
  #word {
    font-weight: 100;
  }

  .subHead {
    color: #0a0a49;
    font-size: 1.3rem;
  }

  @media screen and (min-width: 981px) {
    .subHead {
      color: #0a0a49;
      font-size: 1rem;
    }
  }

  #desc{
    color: #2e157d;
    font-size: 1.8rem;
  }

  @media screen and (min-width: 981px) {
    #desc{
      font-size: 3rem;
    }
  }
  
  #descdiv {
    display: flex;
    /* top: 33%; */
    /* flex-basis: 200px; */
    /* top: 40%; */
    max-width: 90%;
    height: 40vh;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size: 70px; */
  }
  
  @media screen and (min-width: 981px) {
    #descdiv {
      font-size: 2rem;
      height: 60vh;
      /* font-size: 70px; */
    }
  }

  #button-wrapper{
    /* bottom: 2rem !important; */
    position: absolute;
    bottom: 10%;

  }

  @media screen and (min-width: 981px) {
    #button-wrapper{
      /* bottom: 2rem !important; */
      position: absolute;
      bottom: 15%;
  
    }
  }
  
  #genbtn {
    font-size: 2.5rem;
    /* color: linear-gradient(90deg,#ff8a00,#e52e71); */
    color: #7a00ff;
    background-color: rgba(126, 126, 223, .3);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: .2rem;
    /* transition: all 0.9s ease; */
    padding: 1rem;
    outline: 2px solid rgb(46, 0, 132);

    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    /* color: #FFF; */
    border-bottom: solid 4px #627295;
    border-radius: 3px;

    
  }
  
  #genbtn:hover {
    color: #d800ff;
    background-color: rgba(183, 126, 223, 0.3);

    /* letter-spacing: .3rem; */
  }
 
  #genbtn:active {/*OnClick*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*Reduce Shadow*/
    border-bottom: none;
}
 
